# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\im\spring-cloud\last-java-gmall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
